.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .layout-main {
    display: flex;
    height: 100%;
    .layout-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      main {
        display: flex;
        justify-content: center;
        padding: 2rem;
        background-color: #0d0d11;
        height: 100%;
      }
    }
  }
}
