@import "../../variables";

.todo-list {
  width: 100%;
  .tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: calc(100vh - 270px);
    min-height: calc(100vh - 270px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .task-container {
      width: 90%;
      color: black;
      background-color: white;
      padding: 10px;
      box-shadow: 0px 1px 5px #868686ea;
      border-radius: 5px;
      .task-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          font-weight: 500;
          margin: 0;
        }
        .task-icons {
          display: flex;
          gap: 5px;
        }
      }
      p {
        font-size: 12px;
        margin: 0;
        margin-top: 10px;
      }
    }
    .todo-task {
      background-color: #74ffd1;
      color: $primaryBGColor;
      svg {
        color: $primaryBGColor !important;
      }
    }
    .in-progress-task {
      background-color: rgb(255, 198, 224);
      color: $primaryBGColor;
      svg {
        color: $primaryBGColor !important;
      }
    }
    .in-review-task {
      background-color: rgb(162, 215, 255);
      color: $primaryBGColor;
      svg {
        color: $primaryBGColor !important;
      }
    }
    .completed-task {
      background-color: rgb(206, 168, 255);
      color: $primaryBGColor;
      svg {
        color: $primaryBGColor !important;
      }
    }
  }
}

@media screen and (min-height: 780px) {
  .tasks {
    max-height: 67vh !important;
  }
}
