@import "../../variables";

.todo-list {
  width: 100%;
  .task-add-button {
    background-color: rgba(157, 197, 238, 0.514);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: #e7e4d8ea;
    }
  }
  .tasks {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 53vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .task-container {
      width: 90%;
      color: black;
      background-color: white;
      padding: 10px;
      box-shadow: 0px 1px 5px #868686ea;
      border-radius: 5px;
      .task-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          font-weight: 500;
          margin: 0;
        }
        .task-icons {
          display: flex;
          gap: 5px;
        }
      }
      p {
        font-size: 12px;
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-height: 780px) {
  .tasks {
    max-height: 67vh !important;
  }
}
